<form [formGroup]="form" (ngSubmit)="submitForm()">
    <input formControlName="name" placeholder="სახელი">
    <!-- <input type="email" formControlName="email" placeholder="Email"> -->
    <input type="email" formControlName="email" placeholder="Email">
    <p *ngIf="form.controls.email.invalid && form.controls.email.touched" class="error">
        არასწორი ელ.ფოსტის ფორმატი
    </p>
    <input formControlName="password" placeholder="პაროლი">
    <input formControlName="mobileNumber" placeholder="მობილურის ნომერი">
    <input formControlName="address" placeholder="მისამართი">
    <button type="submit">გაგზავნა</button>
</form>

<div *ngIf="alertVisible" class="alert alert-info">
    <span (click)="closeAlert()" class="close-btn">&times;</span>
    <pre>{{alertMessage}}</pre>
</div>